anthropic-quickstarts/
client/node_modules/
shared/node_modules/
server/node_modules/
server/app_config.json
server/package-lock.json
client/package-lock.json
shared/package-lock.json
server/dist
client/dist
client/build
server/build
shared/build
shared/dist
server/tmp/
server/src/prompts/fg-config.json
.env
node_modules
server/client_dist/
server/package-lock.json
client/package-lock.json
shared/package-lock.json
computer-use-service/package-lock.json
